body 
{
    background-color:black;
}
#imagen
{
	height:125px;
}
.header
{
    
    color:whitesmoke;
}
.row
{
    padding:25px;
    background-color:deepskyblue;
}
.cuerpo
{
    color:whitesmoke;
    background-color:yellow;
}
.container 
{
    margin: 20px 20px;  
    border: 4px solid #000;
    background-color: burlywood;
    padding: 20px;
        
}
#contacto {
    margin: 20px 20px;
    border: 4px solid #000;
    background-color: burlywood;
    padding: 20px;
}
#ppt {
    height: 150px;
}
#ppt1 {
    height: 150px;
}